<div class="page-content">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="card-title">Vintage Hat</mat-card-title>
        </mat-card-header>
        <img class="card-poster" mat-card-image src="../../../assets/images/shopHat.jpg" alt="Photo of a Shiba Inu">
        <div class="card-info">
          <mat-card-content>
            <p>
                $899.99
            </p>
          </mat-card-content>
          <mat-card-actions>
            <i class="fas fa-shopping-cart"></i>
          </mat-card-actions>
        </div>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="card-title">Vintage Shirt</mat-card-title>
        </mat-card-header>
        <img class="card-poster" mat-card-image src="../../../assets/images/shopTshirt.jpg" alt="Photo of a Shiba Inu">
        <div class="card-info">
          <mat-card-content>
            <p>
              $89.99
            </p>
          </mat-card-content>
          <mat-card-actions>
            <i class="fas fa-shopping-cart"></i>
          </mat-card-actions>
        </div>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="card-title">Vintage Hoodie</mat-card-title>
        </mat-card-header>
        <img class="card-poster" mat-card-image src="../../../assets/images/shopHoodie.jpg" alt="Photo of a Shiba Inu">
        <div class="card-info">
          <mat-card-content>
            <p>
                $59.99
            </p>
          </mat-card-content>
          <mat-card-actions>
            <i class="fas fa-shopping-cart"></i>
          </mat-card-actions>
        </div>
      </mat-card>
</div>