<div class="card">
    <img class="card-img-top" src="../../../assets/images/May-15-Dead-To-Rights.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dead To rights at banannas comedy shack</h5>
      <p class="card-text">Tickets 100$ at the door. doors open at 8pm</p>
      <a href="#" class="btn btn-primary">Tickets</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/images/May-15-Dead-To-Rights.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dead To rights at banannas comedy shack</h5>
      <p class="card-text">Tickets 100$ at the door. doors open at 8pm</p>
      <a href="#" class="btn btn-primary">Tickets</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/images/May-15-Dead-To-Rights.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dead To rights at banannas comedy shack</h5>
      <p class="card-text">Tickets 100$ at the door. doors open at 8pm</p>
      <a href="#" class="btn btn-primary">Tickets</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/images/May-15-Dead-To-Rights.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dead To rights at banannas comedy shack</h5>
      <p class="card-text">Tickets 100$ at the door. doors open at 8pm</p>
      <a href="#" class="btn btn-primary">Tickets</a>
    </div>
  </div>