<!-- <div class="footer-content">
    <i href="#" class="fa fa-youtube"></i>
    <a href="https://www.facebook.com/deadtorights/" class="fa fa-facebook flex-item-bottom"></a>
    <i (click)="openFooterMenu(1)" class="fas fa-envelope"></i>
    <i href="tel:=+13033329869" class="fas fa-phone"></i>
   <fa-icon [icon]="faHeart" id="faHeart"></fa-icon>
</div> -->

<div class="contact-content">
    <label class="label" style="font-size: 2rem;"> Contact Us: </label> 
    <div class="social-links">
        <a href="tel:=+13033329869" class="fas fa-phone fa-flip-horizontal"></a>
        <a href="#" class="fa fa-youtube "></a>
        <a href="https://www.facebook.com/deadtorights/" class="fa fa-facebook flex-item-bottom"></a>
        </div>  
    <form class="example-form">
        <mat-label class="form-label">Message us directly</mat-label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label type="email" class="input-label">Email(Optional)</mat-label>
          <input class="input-label" matInput >
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label class="input-label">Leave a comment</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <button mat-raised-button>Send</button>
      </form>   
</div>

<!-- <div class="contact-content">
    <i class="fas fa-phone"></i>
</div> -->
