.contact-content {
  padding-top: 1vh;
  background-color: #222222;
  width: 100%;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media  only screen and (min-width : 1025px) {
  .contact-content {
    padding-top: 1vh;
    background-color: #222222;
    width: 100%;
    padding-right: 35vw;
    padding-left: 35vw;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}



.label {
  padding-top: 1.5vh;
  float: left;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.input-label {
  color: white;
}



.example-form {
  color: white;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.contact-btn {
  margin-top: 2vh;
}

.form-label {
  font-size: 1.5rem;
}

.social-links {
  padding-bottom: 1vh;
  display: flex;
  justify-content: flex-start;
}

.fas {
  float: right;
  font-size: 24px;
  color: white;
  background: #737373;
  border-radius: 50%;
  display:block;
  width: 4rem;
  margin-right: 0.5vw;
  padding: 1rem;
  margin-bottom: 1vh;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.fa {
    width: 4rem;
    float: right;
    margin-right: 0.5vw;
    padding: 1rem;
    margin-bottom: 1vh;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

  }
  .fa:hover {opacity: 0.7;}
  .fas:hover {opacity: 0.7;}
  .fa-facebook {background: #3B5998;color: white;}
  .fa-youtube {background: #bb0000;color: white;}
  .fa-phone {background: #00970f;}

   
  
  



