.navbar-toggler {
    margin-right: 10px;
    margin-top: 10px;
}
.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo {

}

.navbar-collapse {
    font-size: 2rem;
    
}

.logo {
    margin-left: -1rem;
}





