.navbar-toggler {
    margin-right: 10px;
    margin-top: 10px;
}
.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-brand {
    margin-top: 5px;
    justify-content: flex-end;
}

.navbar-collapse {
    font-size: 1rem;
}



