.page-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card{
	width: 100%;
	margin-bottom: 2vh;
	color: black;
	font-weight: bold;
	background-color: white;

}
@media  only screen and (min-width : 1025px) {
	.card{
		width: 35vw;
		color: black;
		font-weight: bold;
		background-color: white;
	}
}


.label {
	padding-left: 0.5vw;
	font-size: 32px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: gray;
	z-index: 1;
	overflow: wrap;
	top: 0;
}


.example-card {

    margin-top: 2vh;
    max-width: 100%;
    background-color: white; 
    color: black;
    border-radius: 1rem;
    margin-bottom: 2vh;
  }
@media  only screen and (min-width : 1025px) {
.example-card {

    margin-top: 2vh;
    max-width: 25vw;
    background-color: white; 
    color: black;
    border-radius: 1rem;
    margin-bottom: 2vh;
  }
}
  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 1px 1px 0px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1);
    }

	.card-text {
		color: black;
	}