<div class="page-content">
    <div class="card" >
        <label class="label">The Band</label>
        <img src="../../../assets/images/IMG_1653.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">They play blues I think</p>
        </div>
    </div>
    <div class="card" >
        <label class="label">The Andy</label>
        <img src="../../../assets/images/andy 5.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">The roughest bandito in NW indiana</p>
        </div>
    </div>
    <div class="card" >
        <label class="label">El pablo escabar</label>
        <img src="../../../assets/images/IMG_1168.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">I saw one eat a crayon</p>
        </div>
    </div>
</div>
