<div class="page-content">
    <mat-card class="card" >
        <mat-label class="label">The Band</mat-label>
        <img src="../../../assets/images/aboutBand.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <mat-card-content>
                <p class="card-text">They play blues I think</p>
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="card" >
        <mat-label class="label">The Andy</mat-label>
        <img src="../../../assets/images/aboutAndy.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <mat-card-content>
                <p class="card-text">The roughest bandito in NW indiana</p>
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="card" >
        <mat-label class="label">Ole Robbie</mat-label>
        <img src="../../../assets/images/aboutRob.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <mat-card-content>
                <p class="card-text">Summons lightning to strum</p>
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="card" >
        <mat-label class="label">Big Rob</mat-label>
        <img src="../../../assets/images/aboutBigRob.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <mat-card-content>
                <p class="card-text">His drums destroyed the walls of jericho</p>
            </mat-card-content>
        </div>
    </mat-card>
</div>
