<div class="page-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Shakedown Street at Zao Island</li>
        </ol>
    </nav>
    <div class="video-container">
        <iframe class="video" src="https://www.youtube.com/embed/jHeMgKtxU0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Shakedown Street at Zao Island</li>
        </ol>
    </nav>
    <div class="video-container">
        <iframe class="video" src="https://www.youtube.com/embed/PqNjwZdMBRU" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Shakedown Street at Zao Island</li>
        </ol>
    </nav>
    <div class="video-container">
        <iframe class="video" src="https://www.youtube.com/embed/H8HCL8YOSbo" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Shakedown Street at Zao Island</li>
        </ol>
    </nav>
    <div class="video-container">
        <iframe class="video" src="https://www.youtube.com/embed/jHeMgKtxU0E" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
