
.default {
  /* The image used */
  background-image: url("../../assets/images/dtrlogo.png");

  /* Set a specific height */
  min-width: 100%;
  height: 0;
  margin-top: 4rem;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 15.5rem; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
}

.background {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: -1rem;
}